[Unit]
Description=Backlight daemon

[Service]
Type=forking
PIDFile=/run/backlightd.pid
ExecStart=/usr/bin/backlightd

[Install]
WantedBy=multi-user.target